/********** Base Style **********/
* {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  background-image: linear-gradient(rgb(180, 190, 27),rgb(245, 178, 189),rgb(224, 196, 33));
}

#header-nav {
  background-color: crimson;
  border-radius: 0;
  border: 0;
  height: 60px;
  width: 100%;
}

.navbar-brand {
  padding-top: 20px;
}
.navbar-brand h1 {
  color: #faf9f9;
  font-family: 'lora', serif;
  font-size: 2.0em;
  text-shadow: 1px 1px 1px #330505;
  margin-top: 0px;
  margin-left:0;
  line-height: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
} 

#page-title {
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin: 100px;
  color: #bd0827;
  font-size: 275%;
  text-align: center;
  font-weight: bold;
}
section {
  border: 1px solid #330404;    
  background-color: bisque;
  height: 450px;
  overflow: auto;
  position: relative;
}
h2 {
  float: right;
  border:1px solid black;
  color: lavender;
  background-color: crimson;
  font-size: 125%;
  padding: 5px 20px 5px 20px;
  margin-top: 0;
  margin-bottom: 20px;
}
ul {
  clear: right;
  width: 90%;
  overflow: auto;
}

/********** Desktop version **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    padding: 15px;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}


/********** Tablet version **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    padding: 15px;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
.navbar-toggle{
  position: relative;
  float: right;
  padding: 10px 10px;
  margin-top: 0px;
  margin-right: 15px;
  margin-bottom: 35px;
  background-color: transparent;
  border: 2px solid #fdfdfd;
  border-radius: 4px;
}
.navbar-toggle:focus {
  outline: 0;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 5px;
  height: 2px;
  border-radius: 1px;
}
/********** Mobile version **********/
@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
    padding: 15px;
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}